<template name="taskGrid">
    <div id="container" style="width: 1000px; margin-left: auto; margin-right: auto;">
        <p class="pageheader">Your tasks</p>
        <div id="tileGrid" style="margin: 25px auto;">
            {{#each tasks}}
            {{> taskTile}}
            {{/each}}
            <div class="element tiled tile" id="newTask" style="width: 50px; height: 50px; background: green">
                <div><span style="font-size: 12px; color: white">New Task</span></div>
            </div>
        </div>
        <div id="tileGridSecond" style="margin: 25px auto; background: green;">
        </div>
    </div>
</template>
